/* Mobile and Responsive Styles */
@media(min-width:1440px){
	.puzzle-bullet-header{
		margin-left:-8%;
	}
	.hardware-bullet-header{
		margin-left:4%;
	}
}
@media(max-width:1440px){
	.puzzle-bullet-header{
		margin-left:-7%;
	}
	.hardware-bullet-header{
		margin-left:4%;
	}
	.channel-hover{
		margin-top:-3%;
	}
}

@media screen and (max-width: 1281px) {
	.top-box img,
	.bottom-box img {
		max-width: 300px;
	}
	.sticky-signup span {
		font-size: 16px;
		top: 22px;
		left: 3%;
	}
	.sticky-mailchimp {
		float: right;
		position: relative;
		margin-top: -14px;
	}
	.btn-xl, #steps div p,
	#how-image .row div p {
		font-size: 15px;
	}
	.below-fold2 {
		min-height: 528px;
		height: 50vh;
	}
	.fle_title_bold,
	.fle_title h2 {
		font-size: 35px;
	}
	#steps div h3,
	#the_quote_2,
	.fle_title h3 {
		font-size: 20px;
	}
	/*offline section*/
	.hardware-bullet-header{
		margin-left:5%;
	}
	 .hardware-txt{
  		left:2%;
  }
	#how-1, #how-2, #how-3 {
		height: 100px;
	}
	.feature-tile {
		padding-top: 4%;
	}
	.feature-tile h4,
	.quote_1, .lowcase,
	#how-image .row div h2,
	p.slim-text {
		font-size: 24px;
	}
	#dreams, .fle_title h1,
	#fle_timeline .fle_title h1 {
		font-size: 50px;
	}
	/*.sync-hover{
		margin-top:38%;
	}*/
}

@media screen and (min-width: 1200px) {
  #donor_carousel {
    margin-right: 10vw;
  }	
}

@media (max-width: 1200px){
  .coming-soon{
  	background-size:52%;
  }
  .intro-btn{
  max-width:480px;  
  }
  #igg_btn{
  	padding: 10px 20px;
  }
  .puzzle-bullet-header{
  	margin-left:1%;
  }
  .hardware-img{
  	padding-right:34%;
  }
  .channel-hover{
		margin-top:-4%;
  }
}

@media screen and (max-width: 1060px) {
	.puzzle-bullet-header{
		margin-left:3%;
	}
	.hardware-bullet-header{
  		margin-left:4%;
    }
	.hardware-txt{
		left:5%;
	}
	.sticky-mailchimp {
		top: -20%;
		right: 0;
	}
}

@media screen and (min-width: 990px) {
	.sticky-signup2 {
		display: none;
	}
}

@media screen and (max-width: 990px) {
	/*above the fold*/
	#igg_btn{
	  	padding: 10px 14px;
	  	margin: -15px 8px 60px;
	  	font-size:16px;
	  	width:370px;
  }
	#intro_container {
   		margin-left: 0;
  }
  #donor_carousel {
    	display: none;
  }
  #igg_progress {
	    width: 90%;
	    margin-left: 5%;
	    display: inline-block;
  }
  #k_video {
    	margin-top: 0;
  }
	/*offline section*/
	.puzzle-bullet-header{
		margin-left:-19%;
	}
	/*features section*/
	.hardware-bullet-header{
		margin-left:-1%;
	}
	.hardware-txt{
		left:6%;
	}
  .how-explanation{
  	padding-top:1px;
  }
  #how-1, #how-2, #how-3{
	background-size:180px;
	height:80px;
  }
	#dreams, .fle_title h1,
	#fle_timeline .fle_title h1 {
		font-size: 40px;
	}
	.sticky-signup2 {
		text-align: center;
		background: #53435B;
		padding-top: 20px;
		position: relative;
		z-index: 99999;
	}
	.instructions{
		width:280%;
		padding-left:20%;
	}
	.sticky-signup2 span {
		font-size: 20px;
		top: 10px;
		text-align: center;
		left: 0;
		color: white;
	}
	.iframe-holder {
		position: relative;
		margin: auto;
		text-align: center;
		top: 25px;
		width: 320px;
	}
	.sticky-mailchimp {
		float: none;
	    right: 0;
	    width: 300px;
	}
	.social_btns {
		text-align: center;
	}
	#fle_intro {
		background: white;
		height: 850px;
	}
	span.hidden-xs.hidden-sm {
		display: none !important;
	}
	.intro-text {
		top: 8%;
	}
	.intro-social {
		right: 0;
		margin-top: 21%;
	}
	#campaign-intro {
		font-size: 20px;
		margin-top: 50px;
	}
	.arrow-down{
		margin-top: 50px;
	}
	.top-box,
	.bottom-box {
		padding: 2% 0;
	}
	.top-box img, .bottom-box img {
		margin: 0;
		max-width: 225px;
	}
	.shift-down2 {
		top: 0;
		left: 0;
	}
	.fle_title {
		padding: 30px 0;
		top: -5px;
	}
	.no-internet-intro, .tools-intro {
		background: rgba(134, 112, 161, 0.8);
	}
	.wow img {
		margin: 0;
	}
	.fle_title img {
		max-width: 150px;
		width: 30%;
	}
	.fle_title_bold {
		text-align: center;
		padding: 0;
		width: 100%;
		margin: 0;
	}
	.fle_title_bold .fle_title_h2 {
		font-size: 40px;
	}
	p.slim-text {
		max-width: 200px;
		margin: 30px auto 0 auto;
	}
	span.slogan {
		font-size: 23px;
		top: 10px;
	}
	.feature-space {
		min-height: 200px;
		padding: 40px 0;
	}
	#feature-container {
		min-height: 750px;
		display: block;
		overflow: auto;
		height: auto;
	}
	.feature-space img {
		margin-top: 0;
	}
	.feature-tile {
		display: block;
		border-right: none;
		border-left: none;
		border-top: none;
		border-bottom: 2px solid #516e89 !important;
	}
	.portfolio-modal .close-modal .lr,
	.portfolio-modal .close-modal .lr .rl,
	.portfolio-modal .close-modal {
		height: 30px !important;
	}
	.modal-dialog {
		width: 90% !important;
	}
	p.item-intro {
		font-size: 18px !important;
	}
	.portfolio-modal .modal-content p {
		font-size: 15px !important;
	}
	.portfolio-modal .modal-content h2 {
		font-size: 1.5em;
	}
	.portfolio-modal .close-modal {
		left: -35px;
	}
	.modal-backdrop {
		-webkit-transform:translateZ(2px);
		-moz-transform:translateZ(2px);
		-o-transform:translateZ(2px);
		transform:translateZ(2px);
	}
	.portfolio-modal {
		-webkit-transform:translateZ(5px);
		-moz-transform:translateZ(5px);
		-o-transform:translateZ(5px);
		transform:translateZ(5px);
	}
	img.img-responsive.img-centered,
	.canvas-container,
	#canvas, .upper-canvas {
		width: 100% !important;
	}
	.my_col {
		position: relative;
		top: -50px;
	}
	.fle_title h3 {
		top: 0;
	}
	.fle_title h2 img {
		max-width: 175px;
		width: 45%;
		position: relative;
		top: 0;
	}
	.canvas-container {
		width: 100% !important;
	}
	#button-wrapper {
		margin-top: 50% !important;
	}
	#desktop-timeline {
		padding: 10px 0 30px 0;
	}
	#contact {
		height: auto !important;
		display: block;
		overflow: auto;
	}
	.e1 {
		left: 0;
		max-width: 455px;
	}
	#contact {
		background-position: center center !important;
	}
	.interactive-btn{
		display:none;
	}
}

@media (max-width:935px){
	/*above the fold*/
	.kolibri-header-section{
		margin-top:4%;
		margin-left:6%;
	}
	.intro-heading{
		font-size:68px;
	}
	.intro-heading img{
		width:68px;
	}
	.intro-heading2{
		font-size:16px;
	}
	/*offline*/
	.puzzle-bullet-header{
		margin-left:-18%;
	}
}
@media (max-width: 900px){
	.fle-header-top, .fle-header-bottom{
		font-size:14px;
	}
	/*offline*/
	.puzzle-bullet-header{
		margin-left:-15%;
	}
	.bullet-txt h3, .hardware-txt h3{
		font-size:20px;
	}
	.hardware-txt{
		right:6%;
	}

}
@media (max-width:810px){
	.kolibri-header-section{
		margin-left:7%;
	}
	.intro-heading{
		font-size:56px;
	}
	.intro-heading img{
		width:55px;
	}
	/*offline*/
	.puzzle-bullet-header{
		margin-left:-14%;
	}
}

@media screen and (max-width: 768px) {
  /*above the fold*/
   .kolibri-header-section{
	margin-top:5%;
	margin-left:3%;
	}
	.intro-heading{
		font-size:58px;
	}
	.intro-heading img{
		width:54px;
		margin-bottom:15px;
	}
	.intro-heading2{
		font-size:15px;
	}
	.fle-header-top, .fle-header-bottom{
		font-size:12px;
	}
	.fle-header-bottom img{
		width:13px;
		padding-bottom:4px;
	}
  #k_video {
    margin-top: -10px;
   }
   .coming-soon{
   	font-size:14px;
   background-size:50%;
   }
   #igg_btn {
   	padding: 10px 0px;
  	margin: -25px 8px 60px;
  	font-size:14px;
  }
  .videoWrapper iframe {
  position: absolute;
  top: 22%;
  left: 25%;
  width: 50%;
  height: 72%;
  }
  /*offline*/
  .puzzle-bullet-header{
  	margin-left:-11%;
  }
  /*features*/
  .hardware-img{
  	padding-right:36%;
  }
}

@media screen and (height: 768px) { /*target ipad*/
  #igg_btn {
    margin-top: -30px;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

/* Vectorized Video */
@media (max-width: 750px) {
  #canvas, .upper-canvas, .canvas-container {
    height: auto !important;
  }
  .vector-description {
    padding: 0 25px !important;
  }
  .modal-body {
    padding: 0 !important;
  }
  #button-wrapper {
    margin-top: 58vw !important;
  }
  #mark {
    position: relative;
    top: 58vw;
  }
}

@media (max-width:740px){
	/*above the fold*/
	.kolibri-header-section{
		margin-left:6%;
	}
	.intro-heading{
		font-size:50px;
	}
	.intro-heading img{
		width:50px;
		margin-top:4px;
	}
	/*offline*/
	.puzzle-bullet-header{
		margin-left:-10%;
	}
}

@media screen and (max-width: 700px) {
	/*above the fold*/
	.intro-heading{
		font-size:40px;
	}
	.intro-heading img{
		width:40px;
		margin-top:1px;
	}
	.kolibri-header-section{
		margin-left:11%;
	}
	.fle-header-section{
		width:102%;
	}
	.intro-heading2, .fle-header-bottom, .fle-header-top{
		font-size:11px;
	}
	.fle-header-bottom img{
  	max-width:12px;
  	margin-bottom:0px;
  }
	.coming-soon{
		font-size:12px;
	}
	#igg_btn{
		width:68%;
		margin:-20px 0px 30px;
	}
	/*offline*/
	.puzzle-bullet-header{
		margin-left:-5%;
	}
	.countdown {
		zoom: 0.8;
		-webkit-transform: 0.8;
		-moz-transform: 0.8;
	}
}

/* Media Query Min-Width 700px */

@media (min-width: 700px) {
  .email_input_k {
    outline: none;
    clear: none !important;
    float: left;
    /*width: 400px;*/
    background-color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
    padding: 15px 40px;
    box-shadow: none;
    border: 3px solid #fff !important;
    text-align: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .email_submit_k {
    clear: none !important;
    float: left;
    width: 300px;
    border: 3px solid #CB99C5  !important;
    padding: 15px 21px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #2A2A2A;
  }
}

@media (max-width: 650px){
 	 /*abvoe the fold*/
 	 .kolibri-header-section{
 	  	margin-top:5%;
 	 	margin-left:10%;
 	 }
 	 .intro-heading{
 	 	font-size:38px;
 	 }
 	 .intro-heading img{
 	 	width:38px;
 	 	margin-top:6px;
 	 }
	.fle-header-section{
		width:103%;
	}
	/*offline*/
	.puzzle-bullet-header{
		margin-left:-4%;
	}
	/*features*/
	.hardware-img{
		margin-right:3%;
	}
}

@media (max-width:623px){
	.number{
		margin-left:40%;
		margin-bottom:5%;
	}
	.number-text{
		right:10%;
		width:124%;
	}
}

@media screen and (max-width: 590px) {
	/*offline*/
	.puzzle-bullet-header{
		margin-left:1%;
	}
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .intro-text {
    top: 11%;
  }
  #indiegogo_generosity {
    height: 14px;
  }
  /*above the fold*/
 .kolibri-header-section{
		margin-left:7%;
	}
  #igg_btn {
    margin-top: 0px;
    width:60%;
  }
  /*offline section*/
  .bullet-txt h1, .hardware-txt h1{
  	font-size:30px;
  }
  .bullet-txt h3, .hardware-txt h3{
  	font-size:20px;
  }
  .hardware-img{
  	margin-right:5%;
  	margin-top:4px;
  }

@media screen and (max-width: 550px) {
	 #igg_btn {
    width:58%;
    }
	.countdown {
		zoom: 0.6;
		-webkit-transform: 0.6;
		-moz-transform: 0.6;
	}
	.flip-clock-wrapper ul li a div div.inn {
		font-size: 45px;
	}
	/*offline*/
	.kolibri-header-section{
		margin-left:5%;
	}
	.puzzle-bullet-header{
		margin-left:1%;
		width:100%;
		margin-top:-12%;
	}
	.hardware-img{
		margin-right:6%;
	}
}

@media(max-width:520px){
	.kolibri-header-section{
		margin-left:2%;
	}
	.puzzle-bullet-header{
		margin-left:10px;
	}
	.hardware-img{
		margin-right:8%;
	}
}

@media (max-width: 500px) {
 /*above the fold*/
 .kolibri-header-section{
 	margin-top:10%;
	}
.intro-heading{
	font-size:34px;
}
.intro-heading img{
	width: 30px;
}
 /*offline secton*/
 .bullet-txt h1, .hardware-txt h1{
 	font-size:20px;
 }
 .bullet-txt h3, .hardware-txt h3{
 	font-size:13px;
 }
 .bullet-img img, .hardware-img img{
 	width:100px;
 	margin-top:13px;
 }
 .puzzle-bullet-header{
 	margin-top:-15%;
 	margin-left:-5%;
 }
 .hardware-img{
		margin-right:1%;
		margin-top:-4%;
		padding-top:4px;
	}
 .number{
		margin-left:38%;
		margin-bottom:5%;
	}
 .number-text{
		left:-15%;
		width:130%;
	}
 .content-curation-img{
 	background-size:90%, 70%;
 }
  #slider {
    background-position: right;
  }
  .slider-overlay{
    margin-top:-100px;
    background-color: rgba(0,0,0,.3);
  }
  #iframe-wrapper {
    padding: 0px 0px ;
  }
  .mailing_toplabel{
    padding-top: 100px;
    font-size: 1.9em ;
  }
  .mailing_sidelabel{
    font-size: 25px ;
    text-align: center;
    padding: 10% 8%;
    line-height: 1.5em;
  }
  .email_input_k {
    text-align: center;
    display: block;
    clear: both;
    float: none;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    border-top-right-radius: 4px;
  }
  .email_submit_k {
    display: block;
    clear: both;
    float: none;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
	/*above the fold*/
	.fle-header-section{
		width:105%;
	}
	.coming-soon{
		background-size:50%;
		font-size:8px;
	}
	/*offline section*/
	.puzzle-bullet-header{
		margin-top:-17%;
		margin-left:-5px;
	}
	/*features*/
	.hardware-img{
		margin-right:3%;
	}
	.countdown {
		zoom: 0.4;
		-webkit-transform: 0.4;
		-moz-transform: 0.4;
	}
	.flip-clock-label {
		display: none;
	}
}

@media screen and (min-width: 450px) {
  .email_input_k {
      text-align: center !important;
      outline: none;
      clear: none !important;
      float: left;
      width: 220px;
      background-color: white;
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 15px;
      padding: 15px 10px;
      box-shadow: none;
      border: 3px solid #fff !important;
      text-align: left;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0px;
    }
    .email_submit_k {
      clear: none !important;
      float: left;
      width: 200px;
      border: 3px solid #CB99C5  !important;
      padding: 15px 21px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: #2A2A2A;
    }
    .e1 {
      left: 0;
      max-width: 500px;
    }
    .e1 input {
      margin: 0;
    }
}

@media (max-width:425px){
	.kolibri-header-section{
		width:80%;
		margin-left:25%;
	}
	.bullet-txt{
		width:75%;
	}
	.puzzle-bullet-header{
		margin-left:0px;
		margin-top:-20%;
	}
	 .number{
		margin-left:34%;
		margin-bottom:5%;
	}
   .number-text{
		left:-38%;
		width:170%;
	}
}

@media (max-width:400px){
	.kolibri-header-section{
		margin-top:15%;
	}
	.puzzle-bullet-header{
		margin-top:-15%;
		width:100%;
	}
	.bullet-txt{
		left:-15px;
	}
	.bullet-txt h1, .hardware-txt h1{
		font-size:20px;
	}
	.bullet-txt h3, .hardware-txt h3{
		font-size:12px;
	}
	
	.hardware-txt{
		margin-top: -3%;
	}
}
@media(max-width:368px){
	.kolibri-header-section{
		margin-left:22%;
	}
	.puzzle-bullet-header{
		margin-left:3%;
	}
	.hardware-img{
		margin-right:5%;
	}
}
@media(max-width:345px){
	.kolibri-header-section{
		margin-left:18%;
	}
	.puzzle-bullet-header{
		width:110%;
	}
	.hardware-img{
		margin-right:7%;
	}
	 .number{
		margin-left:34%;
		margin-bottom:5%;
	}
   .number-text{
		left:-60%;
		width:220%;
	}
}
@media screen and (max-width: 325px) {
	/*above the fold*/
 .kolibri-header-section{
		margin-left:14%;
		margin-top:20%;
	}
	.fle-header-section{
		width:107%;
	}
	#igg_btn{
		font-size:10px;
	}
	/*offline*/
	.puzzle-bullet-header{
		width:120%;
	}
	.hardware-img{
		margin-right:9%;
	}
	#mc-embedded-subscribe {
	    width: 300px;
	    border-top-right-radius: 0;
	    border-bottom-left-radius: 10px;
	    margin: auto;
	}
	#mce-EMAIL {
		width: 300px;
		margin: auto;
    	border-top-right-radius: 10px;
    	text-align: center !important;
	}
}
@media (max-width:280px){
	.fle-header-top, .fle-header-bottom{
		font-size:10px;
	}
	.fle-header-bottom img{
		width:10px;
		margin-bottom:-1px;
	}
	.bullet-img img, .hardware-img img{
		width:75px;
	}
	.bullet-txt h1, .hardware-txt h1{
		font-size: 18px;
	}
	.bullet-txt h3, .hardware-txt h3{
		font-size: 12px;
	}
	.hardware-img{
		margin-right:6%;
	}
	.hardware-txt{
		margin-top:-4%;
	}
}
@media (max-width:270px){
	.intro-heading{
		font-size:30px;
	}
	.intro-heading img{
		width:28px;
	}
}