#feature-container {
  height: 850px;
  display: block;
  overflow: visible;
  background: white;
  position: relative;
  margin-top:8%;
  margin-bottom:20%;
}
.software-bullet-header{
  margin-bottom:5%;
}
.software-img img{
  margin-left:6%;
}
.software-txt{
  margin-left:-18%;
}
.software-txt h3{
  margin-top:-5px;
}
#feature-container #tile-container {
  padding: 0;
  background-color: #fff;
  background-size: cover;
}
/*learn more button for interactive hover image*/
.interactive-btn #igg_btn{
  margin-top:6%;
  border: 2px solid #516e89;
  color:#516e89;
  width:600px;
}
.interactive-btn #igg_btn:hover{
  background-color:#516e89;
  color:#fff;
}
.hover-img{
  background-image:url("../img/kickstarter/portfolio/interactive/nalanda-how-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:100%;
  padding:37%;
  color:#fff;
  font-size:20px;
  margin-bottom:5%;
}
.instructions{
  background-color:#fff;
  color:#000;
  opacity: .65;
  border-radius:7px;
  text-align:center;
  width:320%;
  padding:7px 0px;
  margin-top:-133%;
  margin-left:-110%;
}
.coach-hover, .channel-hover, .sync-hover{
  background-image:url("../img/kickstarter/portfolio/interactive/hover.png");
  background-size:50px;
  width:50px;
  height: 50px;
}
.coach-hover{
  margin-top:-60%;
  margin-left:22%;
}
.channel-hover{
  margin-top:-1%;
  margin-left:54%;
}
.sync-hover{
  margin-top:29%;
  margin-left:57%;
}
/*end interactive section*/

.feature-tile {
  min-height: 375px;
  border: 3px solid #516e89;
  padding-top: 3%;
  background: transparent;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.learn-more-modal {
  text-align: center;
  position: relative;
  top: 16%;
}
.learn-more-modal {
  font-weight: 100;
  font-size: 20px;
}
.learn-more-modal:hover {
  font-size: 21px;
}
.feature-tile:hover {
  background: rgba(81, 110, 137, 0.6);
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.feature-tile:hover h4,
.feature-tile:hover .learn-more-modal {
  color: white;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  text-decoration: none !important;
}
.feature-tile h4,
.learn-more-modal {
  color: #373837;

}
.feature-tile h4 {
  text-align: center;
  font-size: 28px;

}
.tile-image {
  height: 200px;
}
/*.first-tile {
  border-left: none;
}
.last-tile {
  border-right: none;
}*/
.middle-tile{
  border-left:none;
  border-right:none;
}
.top-row .feature-tile {
  border-bottom: none;
}
/*.bottom-row .feature-tile {
  border-bottom: none;
}*/
#ka-lite {
  background: url('../img/kickstarter/portfolio/ka.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #ka-lite {
  background: url('../img/kickstarter/portfolio/ka-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
#out-of-box {
  background: url('../img/kickstarter/portfolio/run.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #out-of-box {
  background: url('../img/kickstarter/portfolio/run-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
#progress-report {
  background: url('../img/kickstarter/portfolio/progress-report.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #progress-report {
  background: url('../img/kickstarter/portfolio/progress-report-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
#vector {
  background: url('../img/kickstarter/portfolio/vector.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #vector {
  background: url('../img/kickstarter/portfolio/vector-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
#cc {
  background: url('../img/kickstarter/portfolio/out-of-box.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #cc {
  background: url('../img/kickstarter/portfolio/out-of-box-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.content-curation-img{
  height:350px;
  background-image:url('../img/kickstarter/portfolio/tablet.png'), url('../img/kickstarter/portfolio/content_curation.gif');
  background-position: center center, center center;
  background-repeat: no-repeat;
  background-size:425px, 327px;
}
.numbers{
  padding:0 90px;
  margin-top:15px;
  margin-bottom:15px;
}
.number-text{
  margin-top:8px;
}
.number{
  background-color:#516e89;
  border-radius: 50%;
  behavior: url(PIE.htc);
  width:50px;
  height: 50px;
  padding-top:7px;
  font-size:25px;
  color:#fff;
}
#sync {
  background: url('../img/kickstarter/portfolio/sync.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #sync {
  background: url('../img/kickstarter/portfolio/sync-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.modal-dialog {
  max-width: 950px;
}
.modal-body button {
  margin-top: 30px;
}