#content-curation {
  display: block;
  width: 100%;
  margin-top:5%;
  margin-bottom:5%;
}
.cc-section p{
  font-size:20px;
}
.curation-bullet-header{
  width:150%;
}
.curation-img img{
  float:right;
  margin-top:4px;
  padding-right:15%;
}
.curation-txt{
  color:#000;
  text-align:left;
  margin-left:-3%;
  margin-top:-.5%;
}
.cc-intro{
  width:;
  margin-left:16.5%;
  margin-top:2.5%;
  margin-bottom:2%;
}
.numbers-cc{
  padding:0 90px;
  margin-top:25px;
  margin-left:17%;
}
.number-text-cc{
  margin-top:8px;
}
.number-cc{
  background-color:#804d79;
  border-radius: 50%;
  behavior: url(PIE.htc);
  width:50px;
  height: 50px;
  padding-top:7px;
  font-size:25px;
  color:#fff;
}