{% load staticfiles %}

<div class="container-fluid">
    <div class="row learners-section">
        <div class="row learners-bullet-header">
			<div class="col-xs-4 learners-img">
				<img src="{% static 'img/kickstarter/learners/learners.png'%}">
			</div>
			<div class="col-xs-8 learners-txt">
				<h1>Learners</h1>
				<h3>Who Does Kolibri Benefit?</h3>
			</div>
        </div>

        <div class="row learners-row">
	        <div class="col-sm-6 col-xs-12 learners-icons">
		       	<img src="{% static 'img/kickstarter/learners/rural.png'%}">
		       	<p>Students of low-resource schools in rural areas</p>
			 </div>
			 <div class="col-sm-6 col-xs-12 learners-icons">
		       	<img src="{% static 'img/kickstarter/learners/community.png'%}">
		       	<p>Children in rural community centers</p>

			 </div>
		</div>
		
		<div class="row learners-row">
	        <div class="col-sm-6 col-xs-12 learners-icons">
		       	<img src="{% static 'img/kickstarter/learners/refugee.png'%}">
		       	<p>Children displaced by refugee crises
			 </div>
			 <div class="col-md-6 col-xs-12 learners-icons">
			 	<div id="prisoners">
		       		<img src="{% static 'img/kickstarter/learners/prison.png'%}">
		       		<p>Prisoners, to help with high school completion and job readiness</p>
		       	</div>
			 </div>
		</div>

		<div class="row learners-row">
	        <div class="col-sm-6 col-xs-12 learners-icons">
		       	<img src="{% static 'img/kickstarter/learners/orphanage.png'%}">
		       	<p>Children in orphanages</p>
			 </div>
			 <div class="col-sm-6 col-xs-12 learners-icons">
		       	<img src="{% static 'img/kickstarter/learners/medical.png'%}">
		       	<p>Doctors, nurses, and community health workers in under-resourced areas</p>
			 </div>
		</div>			
  
    </div>
</div>