{% load staticfiles %}
<div class="container-fluid puzzle-intro">
    <div class="row">
        <div class="col-md-12 puzzle-text">
            <center><h1>What is Kolibri?</h1> 
            <h2>Let’s think about it like a puzzle, where each piece represents a component.</h2>
            </center>
        </div>
    </div>

    <div class="row pieces">
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/offline.png' %}"></center>
    	</div>
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/software.png' %}"></center>
    	</div>
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/cc.png' %}"></center>
    	</div>
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/hardware.png' %}"></center>
       	</div>
       	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/learners.png' %}"></center>
    	</div>
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
            <center><img class="img-responsive" src="{% static 'img/puzzle/you.png' %}"></center>
        </div>
    </div>
   <div class="learn-more-btn">
        <!-- <center><a class="btn learn" id="igg_btn" onClick="document.getElementById('fle_how').scrollIntoView();">Learn More</a></center>-->
        <center><a class="learn-more" id="igg_btn" href="#fle_how">Learn More</a></center>
    </div>

</div>


 