{% load staticfiles %}
<div class="container-fluid puzzle-intro">
    <div class="row">
        <div class="col-md-12 puzzle-text">
            <center><h2>What is Kolibri? Let’s think about it like a puzzle, where each piece represents a component.</h2></center>
        </div>
    </div>

    <div class="row pieces">
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/offline.png' %}"></img></center>
    	</div>
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/software.png' %}"></img></center>
    	</div>
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/cc.png' %}"></img></center>
    	</div>
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/hardware.png' %}"></img></center>
       	</div>
       	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/learners.png' %}"></img></center>
    	</div>
    	<div class="col-lg-2 col-sm-4 col-xs-6 puzzle-piece">
    		<center><img class="img-responsive" src="{% static 'img/puzzle/you.png' %}"></img></center>
    	</div>
    </div>

   <div class="learn-more-btn">
         <center><a class="btn learn" id="igg_btn" onClick="document.getElementById('fle_how').scrollIntoView();">Learn More</a></center>
    </div>

</div>