{% load staticfiles %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 closing-intro">
			<h2>Kolibri’s pieces all fit together to form a <b>powerful offline educational app</b>...</h2>
		</div>
	</div>
	<div class="row closing-img">
		<div class="row closing-txt">
			<div class="col-xs-4">
				<p>Offline Access</p>
			</div>
			<div class="col-xs-4">
				<p>Software</p>
			</div>
			<div class="col-xs-4">
				<p>Content Curators</p>
			</div>
		</div>
		<div class="row closing-txt">
			<div class="col-xs-4">
				<p>Low-Cost Hardware</p>
			</div>
			<div class="col-xs-4">
				<p>Learners</p>
			</div>
			<div class="col-xs-4">
				<p>You</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 closing-intro-bottom">
			<h2>...that can help bring education to those who can’t access it.</h2>
		</div>
	</div>
</div>