{% load staticfiles %}

<div class="container-fluid">
    <div class="row cc-section">
        <div class="row curation-bullet-header">
			<div class="col-xs-4 curation-img">
				<img src="{% static 'img/kickstarter/cc/cc.png'%}">
			</div>
			<div class="col-xs-8 curation-txt">
				<h1>Content Curation</h1>
				<h3>Where does Kolibri's content come from?</h3>
			</div>
        </div>

        <div class="row">
	    	<div class="col-xs-12 cc-intro">
				<p>We’ve partnered with organizations that have specific objectives and needs. They’ll be able to use Kolibri as a:</p>
			</div>
		</div>
		<div class="row numbers-cc">
		    <div class="col-xs-2 number-cc">
		        1
		    </div>
		    <div class="col-xs-10 number-text-cc">
		        <p><b>Curation tool</b> to collect and organize educational materials that align with the needs of the region & situation they work in.</p>
		    </div>
		</div>
		<div class="row numbers-cc">
		    <div class="col-xs-2 number-cc">
		        2
		    </div>
		    <div class="col-xs-10 number-text-cc">
		        <p><b>Platform</b> to distribute and share the curriculum they’ve created.</p>
		    </div>
		</div>
	
    </div>
</div>