{% load staticfiles %}

<div class="container-fluid">
    <div class="row you-section">
        <div class="row you-bullet-header">
			<div class="col-xs-4 you-img">
				<img src="{% static 'img/kickstarter/you/you.png'%}">
			</div>
			<div class="col-xs-8 you-txt">
				<h1>You</h1>
				<h3>What role do you play?</h3>
			</div>
        </div>

        <div class="row you-row">
	        <div class="col-sm-6 col-xs-12 you-content">
		       	<h3>Support</h3>
		       	<p>You can help break down educational barriers by backing our Kolibri campaign!</p>
		       	<center><a id="igg_btn" href="https://learningequality.org/r/indiegogo-redirect" target="_blank">Donate</a></center>
			 </div>
			 <div class="col-sm-6 col-xs-12 you-content">
		       	<h3>Spread the Word </h3>
		       	<p>Help us spread the word about our mission to break down learning barriers!</p>
		       		<div class="row social-icons">
			       		<center><div class="col-xs-4">
							<a class="btn btn-social-icon btn-facebook btn-lg" href="https://www.facebook.com/learningequality" target="_blank"><span class="fa fa-facebook"></span></a>
						</div>
						<div class="col-xs-4">
							<a class="btn btn-social-icon btn-twitter btn-lg" href="https://twitter.com/LearnEQ" target="_blank"><span class="fa fa-twitter"></span></a>
						</div>
						<div class="col-xs-4">
							<a class="btn btn-social-icon btn-reddit btn-lg" href="http://www.reddit.com/submit?url=https://learningequality.org/kolibri&amp;title=" target="_blank"><span class="fa fa-reddit"></span></a>
						</div></center>
					</div>
			 </div>
		</div>
		
		<div class="row you-row">
	        <div class="col-sm-6 col-xs-12 you-content">
		       	<h3>Become a Content Partner</h3>
		       		<p>If you are an organization or individual interested in curating and distributing content with Kolibri, get in touch with us!</p>
		       		<center><a id="igg_btn" href="mailto:support@learningequality.org">Contact</a></center>
			 </div>
			 <div class="col-sm-6 col-xs-12 you-content">
		       		<h3>Become an Early Deployer</h3>
		       		<p>You can help set up Kolibri in a disconnected area and contribute to extending  the reach of free, online, open-source resources.</p>
		       		<center><a id="igg_btn" href="#">Deploy</a></center>
			 </div>
		</div>		
  
    </div>
</div>